@(friends:List[scalaxia.dto.Friend]) @main("Scalaxia - Friends") {
	<h2>Friends of @@Scalaxia in twitter</h2>
	<hr>
	@for(friend <- friends) {  
		<div class="row">
	    	<div class="span1">
	    		<img src=@friend.getProfImgUrl>
	  		</div>
	  		<div class="span8 alert-message block-message info">
	  			<b>@friend.getScreenName</b> - @friend.getLocation <br>
	      		@friend.getDescription
	  		</div>        
    	</div>
	}
}