@(tweets:List[scalaxia.dto.HomeLineTweet]) @main("Scalaxia") {
	<h4>Tweets</h4>
	@for(tweet <- tweets) {  
		<div class="row">
	    	<div class="span1">
	    		<img src=@tweet.getProfImgUrl width="48px" height="48px" >
	  		</div>
	  		<div class="span8">
	  			<b>@tweet.getScreenName</b> - @tweet.getCreatedAt  
	      		<p>@Html(tweet.getText) </p>
	  		</div>        
    	</div>
	}
}