<html ng-app="meetingMgrApp">
<head>
<SCRIPT TYPE="text/javascript" src="js/angular.js"></SCRIPT>
<SCRIPT TYPE="text/javascript" src="js/meetingMgr.js"></SCRIPT>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">

<style>
body {
	margin-top:40px;
	background-image: url('img/bg.png');
	background-repeat: repeat-x repeat-y;
}

#tweets {
    background-color: #eee;
    -webkit-border-radius: 6px; /* Saf3+, Chrome */
border-radius: 6px; /* Opera 10.5, IE 9 */
/*-moz-border-radius: 6px; Disabled for FF1+ */
}

#tweets div.tweet {
    border-top: solid #535252 1px;
    border-bottom: solid #3a3a44 1px;
    padding: 0.7em;
    font-size : xx-small;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e33a3a44', endColorstr='#31313b',GradientType=0 ); /* IE6-9 */
}

.sidebar {
	color : #fff;
	background: -moz-linear-gradient(top, rgba(58,58,68,0.89) 0%, rgba(54,54,64,0.89) 3%, rgba(49,49,59,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(58,58,68,0.89)), color-stop(3%,rgba(54,54,64,0.89)), color-stop(100%,rgba(49,49,59,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(58,58,68,0.89) 0%,rgba(54,54,64,0.89) 3%,rgba(49,49,59,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(58,58,68,0.89) 0%,rgba(54,54,64,0.89) 3%,rgba(49,49,59,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(58,58,68,0.89) 0%,rgba(54,54,64,0.89) 3%,rgba(49,49,59,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(58,58,68,0.89) 0%,rgba(54,54,64,0.89) 3%,rgba(49,49,59,1) 100%); /* W3C */
}

#tweets div.tweet:last-child {
    border-bottom: none;
}

#tweets div.tweet p {
    margin: 0.2em;
    padding: 0;
    
    font-family: 'Pontano Sans', sans-serif;
    font-size: 1.4em;
}
#tweets div.tweet p.user {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    
    font-size: 1.5em;
}
#tweets div.tweet p.user span.userid {
    font-weight: normal;
    
    padding-left: 0.5em;
    font-family: 'Basic', sans-serif;
    font-size: 12px;
}
#tweets div.tweet p.date {
    float: right;
    margin-right: 20px;
    padding-top:4px;
    font-family: 'Montserrat', sans-serif;
    color : #969BA0;
    font-size:0.9em;
}
​
#tweets .avatar-frame{float: left; margin-right:10px; padding:0px; border: 2px solid #3a3a44;}
#tweets .avatar-frame,.avatar-frame img {
width: 50px;
height: 50px;
-webkit-border-radius: 10px; /* Saf3+, Chrome */
border-radius: 10px; /* Opera 10.5, IE 9 */
/*-moz-border-radius: 30px; Disabled for FF1+ */
float: left;
margin-right: 14px;
}
</style>

</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand active" href="#">Scalaxia</a>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
      </div>
 
    </div>
  </div>
</div>

<div class="container" ng-controller="meetingCtrlr">
	<div class="row">
		<div class="span9">
			<div id="tweets" ng-show="tweets.length">
					<div class="tweet" ng-repeat="tweet in tweets">
						<div class="avatar-frame">
							<img ng-src="{{tweet.profImgUrl}}" class="avatar avatar-60 photo" height="60" width="60"/>
						</div>
						<p class="date">{{tweet.createdAt}}</p>
						<p class="user">@{{tweet.screenName}}</p>
						<p class="small" ng-bind-html-unsafe="tweet.text"></p>
					</div>
			</div>			
		</div>
		
		<div class="span3">
			<label></label>
          	<div class="alert">
              <strong>Scalaxia</strong>
              <h4>{{tweets.length}} <small>  Tweets</small></h4>
          	</div> 
		</div>
	</div>
	
</div>

</body>
</html>